$white:#FFF;

html { 
  font-size: 62.5%; 
  background-color: $white;
  font-family: 'M PLUS Rounded 1c','Varela Round';
  @media screen and (max-width:1024px) { 
    font-size: 100%;
    img{
      width:400px;
    }
  }
}

body{
  font-size: 3rem;
  padding: 40px;
}

header{
  position: fixed;
  background-color: rgb(115, 214, 184);
  color: $white;
  width: 200px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.tittle{
  margin: 0;
  line-height: 3rem;
  &-small{
    font-size: 1.2rem;
    
  }
}

ul, ol {
  list-style: none;
}
.accordion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  & li:not(:last-child), &__item:not(:last-child) {
    border-bottom: dotted 1px #bbbbbb;
  }
  &__item{
    padding: 20px 0;
    img, iframe {
      width: 200px;
      @media screen and (max-width:1024px) { 
          width:400px;
      }
    }
  }
  a, iframe, &__inner {
    display: block;
    padding: 10px;
    color: #444;
    text-decoration: none;
  }
  &__btn{
    display: block;
    ::before{
        content:"\f150";
        font-family:"Font Awesome 5 Free";
        font-weight:900;
        display: inline-block;
    }
  }
}

.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 3rem;
  &__icon{
    width:200px;
    height:200px;
    border-radius:50%;
    border: solid 4px rgb(248, 26, 26);
    transition: all 1000ms 0s cubic-bezier(.68, -.55, .27, 1.55);
    &:hover {
      transform: scale(1) rotate(360deg);
    }
  }
}

.text-small{
  font-size: 1.5rem;
  line-height: 1rem;
  color: #888;
}