.mv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  @include sp {
    margin: 100px 0 60px;
    height: 250px;
  }
  &__icon {
    &-1 {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: solid 4px $thema1;
      transition: all 1000ms 0s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      background-image: url(../../../image/rab.svg);
      background-size: contain;
      background-position: center;
      &:hover {
        transform: scale(1) rotate(360deg);
      }
    }
  }
}
